<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-eequiv=""X-UA-Compatible" content=""IE=edge>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/main.css" />

        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
        />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <title>Portfolio</title>
    </head>

    <body>


        <div class="frame">
            <div class="main_frame">
                <!-- left frame -->
                <div class="left_frame">
                    <div class="left_1">
                        <div class="left_1-1">
                            <img
                                src="images/profile.png"
                                width="156px"
                                height="142px"
                                alt=""/>
                        </div>
                        <div class="left_1-2">
                            <%=user.name%>
                        </div>
                        <div class="left_1-3">
                            <%=user.profession%>
                        </div>
                        <div class="left_icons">
                            <a class="link_href" href="">
                              <div class="icon">
                                  <img src="icon/Vector.svg" class="icon-1" />
                              </div>                            
                            </a>
                            <a class="link_href" href="">
                              <div class="icon">
                                  <img src="icon/Vector-1.svg" class="icon-1" />
                              </div> 
                            </a> 
                            <a class="link_href" href="">
                              <div class="icon">
                                  <img src="icon/Vector-2.svg" class="icon-1" />
                              </div>                            
                            </a>
                            <a class="link_href" href="">
                              <div class="icon">
                                 <img src="icon/Vector-3.svg" class="icon-1" />
                              </div>                            
                            </a>
                            <a class="link_href" href="">
                              <div class="icon">
                                 <img src="icon/Vector-4.svg" class="icon-1" />
                              </div>                            
                            </a>
                            <a class="link_href" href="">
                              <div class="icon">
                                 <img src="icon/Vector.svg" class="icon-1" />
                              </div>                            
                            </a>
                            </div>
                            </div>
                             <div class="marginer"></div>

                     <div class="left_2">
                
                        <div  class="left_2-1">Age:
                            <div class="lan">24</div>
                        </div>
                        <div class="left_2-2">Residence:
                            <div class="lan">BD</div>
                        </div>
                        <div class="left_2-3">Freelance: 
                            <div  style="color: rgb(7, 203, 17);"="lan">Aviable</div>
                        </div>
                        <div class="left_2-4">Address: 
                            <div class="lan">Dhaka, Bangladesh</div>
                        </div>
                       
                        </div>
                     
                      <div class="marginer"></div>
                       <!-- Languages -->
                     <div class="left_3">
                        <div class="languages">LANGUAGES</div>
                        <div class="bangla-1">Uzbek
                           <div class="lan_border">100%</div> 
                        </div>
                        <div class="percent-1"></div>
                        <div class="bangla_1_1">English
                             <div class="lan_border">80%</div>
                        </div>
                        <div class="percent-2"></div>
                        <div class="bangla_2_1">Korean
                           <div class="lan_border">60%</div> 
                        </div>
                        <div class="percent-3"></div>
                     </div>
                     <!-- end languages -->
                    <div class="marginer"></div>
                    <!-- skills -->
                    <div class="left_4">
                        <div class="Skills">Skills</div>
                        <div class="bangla">Html
                           <div class="lan_border">90%</div> 
                        </div>
                        <div class="percent-1-1"></div>
                        <div class="bangla_1">CSS
                             <div class="lan_border">85%</div>
                        </div>
                        <div class="percent-2-1"></div>
                        <div class="bangla_2">Js
                           <div class="lan_border">80%</div> 
                        </div>
                        <div class="percent-3-1"></div>
                        <div class="bangla_3">PHP
                            <div class="lan_border">75%</div> 
                         </div>
                         <div class="percent-4-1"></div>
                         <div class="bangla_4">WordPress
                            <div class="lan_border">85%</div> 
                         </div>
                         <div class="percent-5-1"></div>
                    </div>
                    <!-- end skills -->
                    <div class="marginer"></div>
                  <!-- extra skills -->
                    <div class="left_5">
                        <div class="ExtraSkills">Extra Skills</div>
                        
                        <div class="bang">Bootstrap, Materialize </div>
                        <div class="bang">Stylus, Sass, Less </div>
                        <div class="bang">Gulp, Webpack, Grunt </div>
                        <div class="bang">GIT Knowledge </div>
                           
                        
                    </div>
                    <!-- extra skills -->
                    <div class="marginer"></div>
                </div>
                <!-- end left frame -->
           
                <!-- midd frame -->
                <div class="midd_frame">
                    <div class="midd_top">
                        <div class="midd_top_div">
                            <div class="mid_top_frame">
                                <!-- ROUND -->
                                <div class="round_yellow"></div>
                                <div class="round_green"></div>
                                <div class="round_yellow_1"></div>
                                <div class="round_green_1"></div>
                                <div class="rectangle_yellow"></div>
                                <div class="rectangle_blue"></div>
                                <div class="triangle_red"></div>
                                  <!-- END ROUND -->
                                  <div class="midd_top_main_text">Doctor neurologists in OHSU Hospital</div>
                                  <div class="midd_top_text">Lorem ipsum dolor sit amet 
                                    consectetur adipisicing elit. In nemo commodi iste
                                     labore, odit quod facilis harum fugit eius ad necessitatibus
                                      consectetur similique vero, cupiditate voluptatibus
                                       sit officiis, debitis repellat.</div>
                                 <a class="link_href">HIRE ME</a>
                            </div>
                            <div class="midd_top_img">
                                <img src="Your Image 1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="midd_bot"></div>
                </div>
                <!-- end midd frame -->
                <!-- right frame -->
                <div class="right_frame"></div>
                <!-- end right frame  -->
        </div>        
        </div>
    </body>
</html>



